@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

*, *:after, *:before {
	box-sizing: border-box;
}

body {
	font-family: "DM Sans", sans-serif;
	line-height: 1.5;
	background-color: #edf3f7;
	padding: 0 2rem;
}

img {
	max-width: 100%;
	display: block;
}


// iOS Reset 
input {
	appearance: none;
	border-radius: 0;
}

.card {
	margin: 2rem auto;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 370px;
	background-color: #FFF;
	border-radius: 10px;
	padding: 1rem;
  box-shadow: 0 0 40px rgb(0 0 0 / 20%);
}

/*.card-image {
	border-radius: 8px;
	overflow: hidden;
	padding-bottom: 65%;
	background-image: url('https://assets.codepen.io/285131/coffee_1.jpg');
	background-repeat: no-repeat;
	background-size: 150%;
	background-position: 0 5%;
	
  position: relative;
}
*/
.nuvola{
  width: 80px;
}
.nuvola-h1{
  color: #006599;
    display: flex;
    font-size: 40px;
    font-weight: 100;
    margin-bottom: 30px;
}

.nuvola-header{
  width: 100px;
}
.nuvola-h1-header{
  color: #006599;
    display: flex;
    font-size: 50px;
    font-weight: 100;
    margin-bottom: -40px;
}
#nuvola-div {
  width: 60%;
  margin: 0 auto;
}
.card-heading {
  color: #515253;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  margin-top: 25px;
    margin-bottom: 0px;
    margin-left: 12px;
}

.card-form {
	padding: 0.1rem 1rem 0;
}

.input {
	display: flex;
	flex-direction: column-reverse;
	position: relative;
	padding-top: 1.5rem;
	&+.input {
		margin-top: 1.5rem;
	}
}

.help-button{
  color: #007bff;
}
.help-punto-interrogativo{
  width: 15px;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
}
.help-div{
  float: left;
  margin-top: 10px;
}

.input-field {
	border: 0;
	z-index: 1;
	background-color: transparent;
	border-bottom: 1px solid #f3f3f3; 
	font: inherit;
	font-size: 15px;
	padding: 10px;
	&:focus, &:valid {
		outline: 0;
		border-bottom-color: #6658d3;
		&+.input-label {
			color: #6658d3;
			transform: translateY(-1.5rem);
		}
	}
  font-weight: 500;
}
.input-field2 {
	border: 0;
	z-index: 1;
	background-color: transparent;
	border-bottom: 1px solid #f3f3f3; 
	font: inherit;
	font-size: 15px;
	padding: 10px;
	&:focus, &:valid {
		outline: 0;
		border-bottom-color: #6658d3;
		&+.input-label {
			color: #6658d3;
			transform: translateY(-1.5rem);
		}
	}
  font-weight: 500;
  width: 85%;
}

.action {
	margin-top: 2rem;
}
.div-button-show-password{
  
    margin-left: 90%;
    margin-top: -55px;
    width: 15px;

}
.credenziali-dimenticate{
  color: #0087cc;
    cursor: pointer;
}
.button-show-password{
  border: none;
  background: white;
  float: right;
  margin-top: 20px;
  width: 30px;
}

divider{
  border-bottom: 1px solid #f3f3f3;
    margin-top: 20px;
}
.action-button {
	font: inherit;
	font-size: 1rem;
	padding: 10px 5px;
	width: 110px;
	font-weight: 10;
	background-color: #006599;
	border-radius: 50px;
float: right;
	color: #FFF;
	border: 0;
	&:focus {
		outline: 0;
	}
}

.card-info {
	padding: 1rem 1rem;
	text-align: center;
	font-size: .875rem;
	color: #8597a3;
	a {
		display: block;
		color: #6658d3;
		text-decoration: none;
	}
  border-bottom: 1px solid #f3f3f3;
}



.input_eye{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 15px;
    height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
}

.access {
	margin-top: 1rem;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
}
.access-text{
  color: #515253;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  margin-top: 15px;

}
.access-image{
  width: 20px;
    float: left;
}
.access-button-spid {
	font: inherit;
    width: 100%;
    paddiing-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    font-weight: 800;
    background-color: #06c;
    color: #FFF;
    border: 0;
	&:focus {
		outline: 0;
	}
}
.access-button-google {
	font: inherit;
    width: 100%;
    paddiing-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    font-weight: 800;
    background-color: #4285f4;
    color: #FFF;
    border: 0;
	&:focus {
		outline: 0;
	}
}
.access-button-microsoft {
	font: inherit;
    width: 100%;
    paddiing-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    font-weight: 800;
    background-color: white;
    color: #5e5e5e;
    border: 1px solid #8c8c8c;
	&:focus {
		outline: 0;
	}
}

.text-google{
  font-family: Roboto,sans-serif;
  font-weight: 100;
}
.text-footer{
  text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    color: #007bff;
}
.text-final{
  color: #666;
  text-align: center;
}
a{
  color: #007bff;
}